body,html{
    margin: 0; padding: 0; 
    height: 100%;
   }    
.menu{
   box-sizing: border-box;
   display: flex;
   background-color: rgb(255,255,255,0.5);
   box-shadow : 3px 0px 10px hsla(240,40%,15%,.6);
   position: relative;
}

#logo{
   cursor: pointer;
 }
 
.saleList>li{
   list-style-type: none;
   font-size: 16px;
   font-weight: 800;   
   text-shadow: black 0.01em 0.05em 0.1em;
   padding: 30px 20px;
   
}
.saleListInner>li{
   list-style-type: none;
   padding: 10px 20px;
   background-color: white;
   border: seashell 0.5px solid; 
   
}

.saleList>li:hover > a {
   cursor: pointer;
   position: relative;
   top: 1px;
   right: 1px;
   
}
li>ul{ 
    margin:0; padding:0; 
} 


.featuresPic input, 
.featuresPic button{
   border:1px solid black ;
}
.featuresPic input:focus, 
.featuresPic button:focus{
   outline: none;
}


.featuresPic button{
   border-radius: 0 200px 200px 0;
}
.featuresPic input{
   border-radius: 200px 0 0 200px;
}

nav a{
   text-decoration: none;
   font-family: "微軟正黑體";
   color:black;
   letter-spacing: 2px;
   display: block;
}

nav{
   display: flex;
   flex-grow: 6;
}
.saleList{
   display: flex;
   width: 100%;
   height: 50px;   
   align-items: center;
   justify-content: center;
   
}

.saleList ul{
   display: none;
   position: absolute;
   top: 100%;
   width: 200px;
   background-color:rgb(255,255,255,0.2);
   border: gray solid 1px;
   box-shadow: 5px 0px 10px hsla(100,0%,3%,.3);
   z-index: 1;
}

.saleList :hover ul{
   display: block;
   
}

.featuresPic{
   display: flex;
   flex-grow: 4;
   margin: auto;
   
}
.headPic{
   width: 25px;
   height: 25px;   
}
.headSearch{
   width: 20px;
   height: 20px;
}

.addressBar{
   display: flex;
   justify-content: left;
   align-items: center;
   background-color: lightgray;
   padding: 5px 150px;
 
}

.addressBar a{
   font-size: 14px;
   font-family: "微軟正黑體";
   font-weight: 700;
   margin: 0 10px;
   text-decoration: none;
   color:darkslategrey;
}

.right,.left{
   width: 30px;
   height: 30px;
}

.sideCart{
   position: fixed;
   display: flex;
   flex-flow: column;
   width: 250px;
   height: 100%;
   border: grey solid 0.5px;
   background-color: rgba(34,40,49,1);
   color: white;
   border: black solid 2px;
   box-shadow : 3px 0px 10px hsla(240,40%,15%,.6);
   transform: translateX(-100%);
   transition: 0.5s;
   z-index: 3;
   overflow-y: auto;
}

#cartSwitch:checked ~ .sideCart{
   transform: translateX(0);
}


#cartSwitch{
position: absolute;
visibility: hidden;
}

.sideCart span{
   display: flex;
   font-size: 20px;
   font-weight: 300;
   padding: 10px 0 ;
   letter-spacing: 1px;
   background-color: black;
   width: 100%;
   text-indent: 10px;
}

.sideCart img{
   width: 40px;
   height: 40px;
}

.productInCart{
   display: flex;
   padding: 10px 0;  
   border-bottom: black solid 2px;
   height: 100%;
   flex-direction: column;
}


.Cartproduct{
   display: flex;
   justify-content: space-between;
   padding: 10px ;
   border-bottom: black 0.5px solid;
   

}


.sideCart button{
   display: flex;
   margin: auto;
   padding: 10px 70px;
   font-size: 10px;
   border-radius: 5px;
   border: white solid 1px;
   cursor: pointer;
}

#myCartPull{
   width: 55px;
   height: 55px; 
   border-radius: 50px 50px 50px 50px;
   box-shadow: 1px 0px 5px hsla(240,40%,15%,.6);
}

#myCartPull:hover{
   box-shadow: 1px 0px 8px rgba(255, 255, 255, 0.8);
}
.cartDiv{
   position: fixed;
   top: 160px;
   left: 70px;  
   transition: 0.5s;
   z-index: 100;
}

#cartSwitch:checked ~ .cartDiv{
   position: fixed;
   transform: translateX(180px); 
   transition: 0.5s;
   z-index: 100;
}

#goToTop{
   width: 50px;
   height: 50px;
   position: fixed;
   z-index: 2;
   bottom: 40px;
   right: 70px;
   background-color: white;
   border: black solid 1px;
   border-radius: 25px 25px 25px 25px;
   opacity: 0 ;
   visibility: hidden;
}

.sideMenu{
   height: 800px;
   width: 200px;
   border: rgb(182, 182, 182) 1px solid;
   margin: 0  60px 0 180px;
   padding: 30px;
   font-size: 15px;
   font-weight: 550;
   letter-spacing: 1px;
}

.sideMenu span{
   color: red;
   font-size: 14px;
   
}

.sideMenu ul{
   margin: 0;
   padding: 0;
}

.sideMenu li{
   border-bottom: gray 1px solid;
   margin: 5px;
   padding: 5px ;
   list-style: none;
   cursor: pointer;
}

.sideMenu div{
   float: right;
}

.sideMenu img{
   width: 10px;
   height: 10px;
}

.productDel{
   cursor: pointer;
   padding: 5px;
   
}

.productDel:hover{
   color: gray;
}


.topWear ,.bottomWear,.eyeWear{
   display: none;
   
}
.topWear>li ,.bottomWear>li,.eyeWear>li{
 margin: 0 23px;
 cursor: pointer;
}

.sideMenu a{
   text-decoration: none;
   color: black;
   font-weight:450 ;
}

.rotateZImg{
transform: rotate(180deg);
}

.productsLeftContainer{
   display: flex;
}

.productsRightContainer{
width: 800px;

}

.displayObject{
   display: none;
}


#sortSelect{
   padding: 2px 20px ;
}

.sortTitle{
   display: flex;
   justify-content: space-between;
}

.productsForSale{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.productsSort{
   font-size: 25px;
   font-weight: 600;
   letter-spacing: 1px;
   text-indent: 20px;
}

.products{
   display:inline-block;
   margin: 8px;
   line-height: 23px;
   cursor: pointer;
}

.products img{
   width: 250px;
}

.hoverFeatures{
   visibility: hidden;
   position: absolute;
   display: flex;
   width: 200px;
   top: 110px;
   left: 85px;
}

.hoverFeatures span{
   font-size: 10px;
   top:50px;
   position: absolute;
   visibility: hidden;
}

.hoverFeatures :last-child{
   left: 60px;
}

.hoverFeatures img:hover+span{
   visibility: visible;
}
.hoverFeatures a:hover+span{
   visibility: visible;
}

.products{
   position: relative;
   width: 250px;
}

.hoverFeatures img{
   width: 45px;
   height: 45px;
   border: gray 0.5px solid;  
   border-radius: 10px;
   padding: 1px;
   margin: 3px;
}

.hoverFeatures img:hover{
   box-shadow: 1px 0px 8px rgba(39, 38, 38, 0.9);
   background-color: rgba(255, 255, 255, 0.3);
}


.productStyle{
   position: absolute;
   background-color: white;
   display: none;
   top: 40px;
   left: -50px;
   list-style: none;
   margin: 0%;
   padding: 15 15 px;
}


#cartcontainer{
   position: fixed;
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
}


#backgroundContainer{
   height: 100%;
   width: 100%;
   margin: 0; padding: 0; 
   position: fixed;
   display: block;
   background-color: rgba(97, 92, 92, 0.8);
   z-index: 200;
}

.productContainer{
   height: 600px;
   background-color: white;
   width: 1000px;
   margin: 50px 0px 80px 240px ;
   display: flex;  
   position: relative;
   border-radius: 30px;
}

#x{
  width: 30px;
  height: 30px;
  position: absolute;
  display: inline-block;
  
  top: -18px;
  right: -5px;
}
#xbutton{
  border-radius: 25px;
  box-shadow : 5px 1px 5px rgba(51, 51, 53, 0.8);
}

#xbutton:focus{
  outline: none;
}

.xImg{
  width: 15px;
  height: 15px;
  padding: 10px 7px 7px 7px;
}


.leftOfImg{
  width: 50px;
  height: 50px;
  position: absolute; 
  top: 220px;
  left: 10px;
  cursor:pointer;
  z-index: 1;
}

.rightOfImg{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 220px;
  left: 429px;
  cursor:pointer;
  z-index: 1;
}

.productsImg{
  width:400px;
  height:400px;
}
.productsRollImg{
  width:400px;
  margin: 50px 60px 0 50px;
  overflow:hidden;
 
}

.productDescription{

   display:flex; 
   flex-direction: column;
   margin: 25px 0  ;
  }
.productDescription span{
  margin: 2px;
  font-size: 12px;
  color: gray;
}

.productDescription p{
  font-size: 20px;
  font-weight: 600;
  color: lightcoral;    
}

.buyStyleContainer{
  display: flex;
  align-items: center;
}

.buyNumContainer{
  display: flex;
  margin-top: 8px;
}

#numLess{
  border-radius: 10px 0 0 10px;
}

#numPlus{
  border-radius: 0 10px 10px 0;
}

.productList{
  height: 40px;
  width: 450px;
}
.productList:focus{
  box-shadow : 3px 0px 10px rgba(167, 184, 233, 0.8);
}

.buyNumContainer input{
  height: 44px;
  width: 343px;
  text-align: center;
}

.buyNumContainer input:focus, 
.buyNumContainer button:focus,
.joinCart,#buyNow
{
  outline: none;
}

.buyNumContainer button{
  height: 50px;
  width: 50px;
  font-size: 20px;
  background-color: white;
  border:black solid 0.5px;
}

.buyNumContainer button:active{
   background-color: rgba(214, 187, 187, 0.7);
}

.joinCart{
  height: 45px;
  width: 450px;
  border-radius: 10px 10px 10px 10px;
  margin: 9px 0;
  background-color: white;
  border:rgba(109, 9, 9, 0.8) solid 0.5px;
  font-weight: 600;
  font-size: 14px;
}

.joinCart:hover{
  background-color: rgba(109, 9, 9, 0.7);
  color: white;
}

.previewContainer{
   display: flex;
   width:400px;
   margin-top: 15px;
}

.previewImg {
  width: 70px;
  height: 70px;
 
}

.countNumPrice{
   display: flex;
   justify-content: space-between;
   width: 80px;
}

.productName{
   width: 130px;
}

.mainFooter{
   display: flex; 
   flex-flow: column;
   justify-content: center;
   background-image: url(../picture/bottomBackground.jpg);
   background-size: cover;
}

.footerPicContainer{
   display: flex;
   justify-content: center;
}

.footerNavContainer{
   display: flex; 
   justify-content: space-around;
   align-content: center;
}
.footerItem{
   display: flex;
   font-size: 16px;
   font-weight: 800;
}
.contractPic{
   width: 60px;
   height: 60px;
   margin: 0 10px ;  
}
